@using LinhGo.ERP.Web.Components.Shared
@using LinhGo.ERP.Web.Core.Models
@using LinhGo.ERP.Web.Core.Interfaces
@inherits LayoutComponentBase
@inject NavigationManager UriHelper
@inject ISystemMenuService SystemMenuService
@inject ThemeService ThemeService

<Canonical />

<RadzenComponents @rendermode=InteractiveAuto />

<AuthorizedView>
<RadzenLayout>
<RadzenHeader class="rz-p-0">
    <ChildContent>
        <MainTopNav />
        <RadzenRow AlignItems="AlignItems.Center" JustifyContent="JustifyContent.Start" Gap="0px" class="demos-nav">
            <RadzenColumn Size="5" SizeSM="5">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center">
                    <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
                    <span class="rz-display-none rz-display-sm-inline-flex" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">Radzen Blazor Components</span>
                    <span class="rz-display-inline-flex rz-display-sm-none" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">LinhGo ERP</span>
                </RadzenStack>
            </RadzenColumn>
            <RadzenColumn Size="7" SizeSM="7">
                <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.End" Gap="0.5rem">
                    <LanguageSwitcher />
                    <RadzenAppearanceToggle class="rz-mx-1 rz-mx-sm-2" />
                    <UserMenu />
                </RadzenStack>
            </RadzenColumn>
        </RadzenRow>
    </ChildContent>
</RadzenHeader>
<RadzenBody @ref="@body0">
    <ChildContent>
        <RadzenContentContainer Name="main">
            <RadzenRow Gap="2rem" class="rz-pt-6 rz-px-0 rz-px-sm-8 rz-px-xl-12">
                <RadzenColumn Size="12">
                    <RadzenRow class="rz-mx-auto" Style="max-width: 1600px;">
                        <RadzenColumn Size="12">
                            @Body
                            <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center" class="rz-mt-12">
                                <span>Radzen Blazor Components, &copy; 2018-2025 Radzen.</span> <br />
                                <RadzenLink Path="https://github.com/radzenhq/radzen-blazor" target="_blank">Source Code</RadzenLink> licensed under
                                <RadzenLink Path="https://github.com/radzenhq/radzen-blazor/blob/master/LICENSE" target="_blank">MIT</RadzenLink>
                            </RadzenText>
                            <RadzenText TextStyle="TextStyle.Body1" TextAlign="TextAlign.Center">
                                <Social />
                            </RadzenText>
                        </RadzenColumn>
                    </RadzenRow>
                </RadzenColumn>
            </RadzenRow>
        </RadzenContentContainer>
    </ChildContent>
</RadzenBody>
<RadzenSidebar @ref="sidebar0" Position="SidebarPosition.Start" @bind-Expanded="@sidebarExpanded" class="demos-sidebar" style="display: flex; flex-direction: column">
    <PanelNavMenu />
</RadzenSidebar>
</RadzenLayout>

@if (!rendered)
{
<div class="rz-app-loading">
    <div class="logo-loading"></div>
</div>
}

@code {
    RadzenSidebar sidebar0;
    RadzenBody body0;
    bool sidebarExpanded = true;
    bool rendered;

    PanelMenu? _menu;

    protected override async Task OnInitializedAsync()
    {
        UriHelper.LocationChanged += OnLocationChanged;

        _menu = await SystemMenuService.GetCurrentPanelMenu(new Uri(UriHelper.Uri));

        System.Threading.Thread.CurrentThread.CurrentCulture = new System.Globalization.CultureInfo("en-US");

        ThemeService.SetWcag(true);
    }


    void OnLocationChanged(object? sender, LocationChangedEventArgs args)
    {
        var currentMenu = SystemMenuService.GetCurrentPanelMenu(new Uri(args.Location)).Result;

        if (currentMenu != _menu)
        {
            _menu = currentMenu;

            StateHasChanged();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            rendered = true;
        }
    }
}
</AuthorizedView>
